#navigation_wrapper_5{
background:#ffffcc;
float:left;
width:20%;
margin-right:20px;
height:400px;	
}
#navigation_wrapper_5 ul{
line-height:2em;
padding:10px;
margin:0;
list-style:none;
}
#navigation_wrapper_5 ul li{

}

#navigation_wrapper_5 ul li a:hover{

}