<?php
header("Content-type: text/css");
header('Expires: ' . date('r',time() + 864000));
header("Pragma: public");
header("Cache-Control: public");

/* Base page css for generic inline frame
 * ex: module edit windows loaded as iframe
 */
 
?>

html {
	font-size: 80%;
	<?=$background['html'];?>;
}
html, body {
	margin:0;
	padding:0;
	font-family:verdana, arial;

}

	/* ------------ reset base styles  ------------*/
	
a {border:0;}
img {border:0;}
h1,h2,h3,h4,h5,h6{font-size:1em; padding:0; margin:0; margin-bottom:10px;}
h1{font-size:1.6em; color:#0c7ced;}
h2{font-size:1.4em; color:#7c78d3;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
/* ul , ol, dl{line-height:1.4em;}  */
dt{font-weight:bold;}
