<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Decorative
Description: Fixed-width, two-column design from small sites and blogs.
Version    : 1.0
Released   : 20071101

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Decorative by Free CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="global.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<!-- start header -->
<div id="header">
		<div id="logo"><a href="#">Site Name</a></div>	
		<div id="MAIN_MENU">
			%MENU%
		</div>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">

	<!-- start content -->
	<div class="container_1">
		%CONTAINER_1%
	
	</div>
	<!-- end content -->
	
	
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->

<!-- start footer -->
<div id="footer">
	<p>&copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
</div>
<!-- end footer -->



</body>


</html>
