<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>BrandName</title>

<!-- link the css -->
<link rel="stylesheet" type="text/css" href="../css/global.css" />

<!--[if IE]>
    <link rel="stylesheet" type="text/css" href="../css/blogroll-ie.css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css" />
<![endif]--> 


</head>
<body>
<div id="wrapper"><!-- begin wrapper -->
    <div id="header" class="clearfix"><!-- begin header -->
    		
			<div id="logo">
				%BANNER%
			</div>
            
			
			<div id="MAIN_MENU" class="clearfix">
				%MENU%
            </div>
			
    </div><!-- end header -->
   
   
   
    <div id="main" class="clearfix"><!-- begin main -->
		<div id="single-col" class="container_1">
        	%CONTAINER_1%
        </div>
    </div><!-- end main -->

	
    <div id="footer" class="clearfix"> <!-- begin footer -->
    <div id="wrap" class="container_3 clearfix">
		%CONTAINER_3%
        	<p class="copy">Copyright &copy; <a href="http://www.plusjade.com" target="_blank" class="link">www.plusjade.com</a></p>
        </div>
    </div><!-- end footer -->

</div><!-- end wrapper -->

</body>
</html>
