/*  ------------------ edit.php ------------------ */

.contact_list{
	width:40%;
}
tr.gray td,
tr.gray td b{
	color:#ccc !important;
}
#new_contact_table{
	border-collapse:collapse;
}
#new_contact_table td{
	padding-bottom:10px;
}
#new_contact_table td input{
	font-size:1.4em;
}

.contact_edit{
	width:70%;
}
.contact_edit td{
	padding:5px;
}
.contact_icon_td{
	text-align:center;
	width:100px;
}
.td_data{
	text-align:right;
	line-height:2em;
}
.td_data input{
	width:250px;
}

.contact_enabled{
	background:#dafe96;
}
.contact_disabled{
	background:#fabebe;
}
.contact_not_set{
	background:#ccc;
}
