
#album_wrapper_++{

}

	/* --- album images lightbox --- */

#album_wrapper_++{
	margin:5px;
}
#album_wrapper_++ ul.album_lightbox { 
	list-style: none; 
	margin:0;
	padding:0;
}
#album_wrapper_++ ul.album_lightbox li { 
	float:left;
	height:90px;
	margin:5px;
}
#album_wrapper_++ ul.album_lightbox img {

}
#album_wrapper_++ ul.album_lightbox img:hover {
	padding:3px;
	border:1px solid black;
}
#album_wrapper_++ ul.album_lightbox a:hover img {

}
#album_wrapper_++ ul.album_lightbox a:hover { 
	color: #fff; 
}
