
	#Header unset ETag
	FileETag None

# Turn on URL rewriting
	RewriteEngine On

# Allow any files or directories that exist to be displayed directly
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !-d
	
# remove www from domains	  
	RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

	RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
	RewriteRule ^(.*)$ http://%1 [R=301,NC,L]
	
# Rewrite all other URLs to index.php/URL
# RewriteRule ^(.+)$ index.php?kohana_uri=$1 [L]
	RewriteCond $1 !^(index\.php|images|robots\.txt|css|js|data|application)
	RewriteRule ^(.*)$ /index.php/$1 [L]	


# friendly css links
	RewriteRule ^css/global/([^/]+)/([^/]+) css/global.php?kohana_uri=$1&t=$2 [NC]
	RewriteRule ^css/tools/([^/]+)/([^/]+)/([^/]+) css/tools.css?u=$1&t=$2&m=$3 [NC]

# this tells the server to parse .css file for php commands 
	#AddType application/x-httpd-php .css
	


