
#faq_wrapper_59{

}
#faq_wrapper_59 h2.faq_header{

}
#faq_wrapper_59 dl.faq_list{
	
}
#faq_wrapper_59 dt.faq_item{

}
#faq_wrapper_59  dt.minus{
	padding-left:20px;
	background:transparent url('/_data/sprite/themes/snowflakes/tools/faq/images/minus.ico') no-repeat 0% 50%;
}
#faq_wrapper_59 dt.plus{
	padding-left:20px;
	background:transparent url('/_data/sprite/themes/snowflakes/tools/faq/images/plus.ico') no-repeat 0% 50%;
}
#faq_wrapper_59 dd.faq_answer{

}
