#navigation_wrapper_4{
padding:10px;
text-align:center;
}
#navigation_wrapper_4 ul{
list-style:none;
margin:0 auto;
width:70%;
text-align:center;
}
#navigation_wrapper_4 ul li{
font-size:1.4em;	
display:inline;
margin-right:20px;
}

#navigation_wrapper_4 ul li a:hover{
	
color:orange;
}