
/* common container */
#blog_wrapper_++ .blog_navigation{
	float:right;
	width:27%;
	margin-left:20px;
}
#blog_wrapper_++ .blog_navigation h3{
	color:green;
}
#blog_wrapper_++ .blog_navigation ul li{
	margin-bottom:6px;
}
#blog_wrapper_++ .blog_content{
	float:left;
	width:70%;
}

#blog_wrapper_++ .tag_list ul{
	line-height:1.4em;
}
#blog_wrapper_++ .tag_list ul li span{
	font-size:0.9em;
	color:#777;
}
#blog_wrapper_++ .recent_comments_list ul{
}
#blog_wrapper_++ .recent_comments_list ul li{
	margin-bottom:10px;
}
#blog_wrapper_++ .recent_comments_list ul li span{
	display:block;
}
#blog_wrapper_++ .recent_comments_list a.comments_post_link{
	font-style:italic;
}

/* singular post view */
#blog_wrapper_++ .blog_posts_wrapper{

}
#blog_wrapper_++ .blog_item{
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
}

#blog_wrapper_++ .post_title{
	font-size:1.8em;
	font-weight:bold;
	padding:5px 0;
	margin-bottom:10px;
}
#blog_wrapper_++ .post_title a{
	text-decoration:none;
	color:#000;
	-background:#dceec3 url('/assets/images/admin/light_green_bg.png') repeat-x top left;
	padding:5px;
}
#blog_wrapper_++ .post_title a:hover{
	text-decoration:none;
	color:#fff;
	background:green;
}
#blog_wrapper_++ .post_created{
	padding:5px 0;
}
#blog_wrapper_++ .post_tags{
	padding:5px 0;
}

#blog_wrapper_++ .post_body{
	padding:15px;
}
#blog_wrapper_++ .post_share{
	margin:15px 0;
}
#blog_wrapper_++ .post_share .share_title{
	font-size:1.6em;
	color:green;
	margin:10px 0;
}
#blog_wrapper_++ .post_share  input{
	border:1px solid #ccc;
	background:#eee;
}
#blog_wrapper_++ .show_comments a.get_comments{

}

#blog_wrapper_++ .post_tags a{
	background:#ffffcc;
}

/* single */
#blog_wrapper_++ .blog_response{
	text-align:center;
	color:green;
	font-weight:bold;
}

#blog_wrapper_++ .comments_wrapper{
	padding:10px;
	background:#d7f2c7;
}
#blog_wrapper_++ .comment_wrapper_title{
	color:green;
	font-size:1.6em;
	margin:15px 0;
}

#blog_wrapper_++ .comment_item{
	margin-bottom:15px;
	clear:both;
}

#blog_wrapper_++ .comment_name{
	float:left;
	font-weight:bold;
	margin-bottom:5px;
}
#blog_wrapper_++ .comment_time{
	float:right;
	margin-bottom:5px;
	font-size:0.9em;
	color:#555;
}
#blog_wrapper_++ .comment_body{
	clear:both;
	margin:5px 0;
	padding:5px;
	background:#fff;
	border:1px solid #c6deb8;
}

/* add comment form */

#blog_wrapper_++ .add_comment{
	margin-top:10px;
	background:#ddf1ff;
	padding:10px;
}
#blog_wrapper_++ .add_comment_title{
	font-size:1.6em;
	color:green;
	margin:10px 0;
	
}
#blog_wrapper_++ .add_comment p{
	overflow:auto;

}
#blog_wrapper_++ .add_comment span{
	display:block;
	float:left;
	width:120px;
	font-weight:bold;
}
#blog_wrapper_++ .add_comment input{
	float:left;
	padding:5px;
	width:400px;
}
#blog_wrapper_++ .add_comment textarea{
	float:left;
	width:400px;
	height:100px;
	padding:5px;
	margin-bottom:10px;
}
#blog_wrapper_++ .add_comment div.buttons{
	clear:both;
	margin-left:120px;
}



/* archive view */
#blog_wrapper_++ .archive_wrapper{

}
#blog_wrapper_++ .archive_wrapper h1{
}
#blog_wrapper_++ .archive_wrapper h2{
	margin-top:10px;
	margin-left:20px;
}
#blog_wrapper_++ .archive_wrapper div.archive_post{
	clear:both;
	margin-left:40px;
	overflow:auto;
}
#blog_wrapper_++ .archive_wrapper div.archive_post span{
	display:block;
	float:left;
	width:30px;
}
#blog_wrapper_++ .archive_wrapper div.archive_post a{
	float:left;
}


