#format_wrapper_5{

}

	/*  --- format people filmstrip  --- */

	
#format_people_filmstrip{
	margin:10px auto;
	ackground:#333;
	width:600px;
	order:1px solid #333;
	overflow:auto;
}
.people_thumb{
	width:110px;
	float:left;
	margin:5px;
	padding:10px;
	text-align:center;
}
.people_thumb img{
	padding:3px;
	background:#efefef;
	width:100px;
margin-bottom:5px;
	heigth:125px;
}
.people_thumb a:hover img,
.people_thumb a.active img{
	background:#777;
}
#format_filmstrip_wrapper{
	margin-top:10px;
}
#format_filmstrip_wrapper .format_item{
	padding:10px;
	margin:10px;
background:#fff;
	border:1px solid #ccc;
}