	/*  --- Main Wrapper --- */	
#contact_wrapper_9{

}
#contact_wrapper_9 div.contact_item{
	clear:both;
	overflow:hidden;
}
#contact_wrapper_9 div.contact_item div.contact_icon{
	float:left;
	text-align:center;
	padding:0 10px;
	width:80px;
	height:80px;
}
#contact_wrapper_9 div.contact_item div.contact_icon.phone{
	background:transparent url('/_assets/tools/contact/images/phone.png') no-repeat 50% 50%;
}
#contact_wrapper_9 div.contact_item div.contact_icon.email{
	background:transparent url('/_assets/tools/contact/images/email.png') no-repeat 50% 50%;
}
#contact_wrapper_9 div.contact_item div.contact_icon.aim{
	background:transparent url('/_assets/tools/contact/images/aim.png') no-repeat 50% 50%;
}
#contact_wrapper_9 div.contact_item div.contact_icon.address{
	background:transparent url('/_assets/tools/contact/images/address.png') no-repeat 50% 50%;
}
#contact_wrapper_9 div.contact_item div.contact_icon.map{
	background:transparent url('/_assets/tools/contact/images/map.png') no-repeat 50% 50%;
}
#contact_wrapper_9 div.contact_item div.contact_icon.newsletter{
	background:transparent url('/_assets/tools/contact/images/newsletter.png') no-repeat 50% 50%;
}
#contact_wrapper_9 div.contact_item div.contact_icon.hours{
	background:transparent url('/_assets/tools/contact/images/hours.png') no-repeat 50% 50%;
}

#contact_wrapper_9 div.contact_item div.contact_view{
	float:left;
}
#contact_wrapper_9 div.contact_item div.contact_name{
	font-weight:bold;
}

#contact_wrapper_9 div.contact_item .contact_value{

}	


/* --- map  --- */



/* --- email --- */
#contact_wrapper_9 .email_form_link{

}
#contact_wrapper_9 .email_form_link a{

}	
#contact_wrapper_9 .email_form_link a:hover{

}

	/*  --- email form --- */	
	
#contact_wrapper_9 .email_form_wrapper{

}
#contact_wrapper_9 .email_form_wrapper table{
	width:650px;
}
#contact_wrapper_9 .email_form_wrapper table th{	
	font-weight:bold;
	padding:5px;
	background:#fffcc;
}
#contact_wrapper_9  .email_form_wrapper table td{
	vertical-align:top;
	padding:5px;
	width:50%;
}
#contact_wrapper_9  .email_form_wrapper div{

}
#contact_wrapper_9  .email_form_wrapper b{
	color:blue;
	font-weight:bold;
}
#contact_wrapper_9  .email_form_wrapper input{
	font-size:1.4em;
	margin-bottom:6px;
}
#contact_wrapper_9  .email_form_wrapper textarea{
	width:300px;
	height:200px;
}