* { margin: 0px; padding: 0px; } 

html, body {
	height: 100%; 
	width: 100%; 
	background: #FFFFFF url(/_data/pinky/themes/titan/images/background.png) repeat;	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #666666;
	text-align: left;
	line-height: 22px;
}


#wrapper { 
	position: relative; 
	width: 930px;
	height: auto !important;
	height: 100%;
	min-height: 100%; 
	margin: 0px auto;
}

#header { 
	width: 930px; 
	text-align: center;
	float: left;
	margin-bottom: 10px;
}

#logo { 
	margin-top: 30px; 
	float: left;
}



#main { 
	width: 850px; 
	float: left; 
	margin-top: 10px;
	background: #FFFFFF;
	margin-bottom: 10px; 
	padding: 40px;
}

#single-col { 
}

#col-left { 
	width: 550px;
	float: left;
}

#col-left ul { margin: 40px 0px 40px 60px; line-height: 18px; }
#col-left li { list-style: disc; color: #52bbe2; }
#col-left li p{ color: #666666; margin-left: 20px; }

#portfolio ul { margin: 90px 0px 0px; }
#portfolio li { list-style: none; display: inline; margin: 4px; float:left; }

#col-right {
	width: 230px;
	float: right;
	border: 1px solid #d4d4d4; background: #f8f8f8; padding: 15px;
}

.post-heading { 
	margin-top: 30px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
	border-width: 1px 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 100%;
	clear: both;
	float: left;
}

.post-image { 
	width: 500px;
	height: 100px;
	padding: 10px;
	background: #e9e9e9;
	border: 1px solid #d6d6d6;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: 0px;
}

a.readMore {
	width : 69px;
	height : 21px;
	background: url(/_data/pinky/themes/titan/images/readmore.png) no-repeat bottom;
	font-family : verdana;
	font-size : 9px;
	color : #ffffff;
	text-align : center;
	margin-top: 15px;
	padding-bottom: 2px;
	float : left;
	clear: both;
	cursor : pointer;
}

a.readMore:hover {
	cursor : pointer;
}

.box { 
	width: 278px;
	background: #f8f8f8;
	border: 1px solid #d4d4d4;
	padding: 10px;
	margin-top: 50px;
	margin-left: 15px;
	margin-bottom: 10px;
}

/* CONTACT FORM	 */
form label { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 60px; 
	color: #222222; 
	text-align: right; 
	clear: both;
}

form fieldset {
	border:0; margin-bottom:10px;
}
form fieldset input{
	background:#fff url(/_data/pinky/themes/titan/images/input_background.png) repeat-x;
	padding: 5px; 
	font-size: 1.2em; 
	color: #222222;
	border: 1px solid #cecece;
}

form .txtArea { 
	background:#fff url(/_data/pinky/themes/titan/images/input_background.png) repeat-x; 
	width: 99%; 
	height: 115px; 
	border: 1px solid #d7d7d7; 
	padding: 5px; 
}

form button { 
	background: #52bbe2; 
	margin: 10px 0;
	font-weight: bold; 
	font-size: 1.4em; 
	color: #fff; 
	padding:5px 10px;
	border:0; 
}

form button:hover { background: orange; cursor: pointer;}


/* FOOTER */
#footer { 
	width: 100%; 
	text-align: center; 
	line-height: 12px; 
	float: left; 
	bottom: 0px; 
	position: relative; 
}
 
#footer #wrap { 
	width: 900px; 
	margin: 0px auto; 
	font-size: 10px; 
	color: #999999; 
	text-align: left;
	line-height: 18px;
	margin-top: 15px;
}

.wrap-box{ width: 260px; margin-left: 24px; float: left; }
.wrap-box h4 { 
	width: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #ffffff; 
	text-align: left; 
	font-size: 14px; 
	border-bottom: 1px dotted #737373; 
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}

#footer a:link, #footer a:active, #footer a:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-align: left; }
#footer a:hover { font-weight: bold; text-decoration: none; color: #52bbe2; }

#footer p.copy { text-align: center; padding-top: 30px; }
#footer #wrap .link { 
	color: #52bbe2; 
	font-weight: bold; 
	font-size: 10px; 
}

#footer #wrap .link:hover { 
	color: #beee48; 
	text-decoration: underline; 
	font-weight: bold; 
	font-size: 10px; 
}

/* STYLES */

.float-left { float: left; }
.float-right { float: right; }
p { margin: 0px 0px 10px; clear: both; }
.important { color: #52bbe2; font-weight: bold; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.big { font-size: 14px; }

h1 { 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 36px; 
	color: #222222; 
	font-weight: bold;
	font-style: normal;
	margin-bottom: 20px;
}

h2 a:link, h2 a:active, h2 a:visited { 
	font-family: Arial, Verdana, Helvetica, sans-serif; 
	font-size: 22px; 
	color: #222222; 
	font-weight: bold;
	font-style: normal;
}

h2 a:hover { text-decoration: underline; }

h3 { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}

p.categories { float: left; margin: 0px; clear: none; color: #222222; }
p.date { float: right; margin: 0px; margin-right: 10px; clear: none; }

/* HEADLINES STYLE */
h4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; color: #52bbe2; font-weight: bold; margin-bottom: 10px; margin-top: 20px; }

.titan-icon { margin-right: 18px; float: left; }

.image { margin: 7px; margin-left: 0px; }
.portfolio-img { clear: both; margin-bottom: 5px; }


/* CLEARFIX 100% HEIGHT COLS */

.clearfix:after{ content: " "; display: block; height: 0px;	clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }







/* LAVAJACK */
#MAIN_MENU { 
	height: 38px;
	margin-top: 30px;
	float: right;
	background: url(/_data/pinky/themes/titan/images/nav_bar.png) no-repeat right;
}
#MAIN_MENU ul {
	position: relative;
	height: 28px;
	overflow: hidden;
	padding: 5px;
}
#MAIN_MENU ul li {
	float: left;
	list-style: none;
}
#MAIN_MENU ul li a {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	outline: none;
	text-align: center;
	top: 3px;
	z-index: 10;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: auto 10px;   
}
#MAIN_MENU ul li a:hover, #MAIN_MENU ul li a:active, #MAIN_MENU ul li a:visited {
	border: none;
}
#MAIN_MENU ul li a:hover,
#MAIN_MENU ul li a.selected{
	text-decoration:underline;
	color:#52bbe2;
}

/* blogroll */

/* GENERIC RESET & BASIC STRUCTURE */
a { /* remove the dotted outlines when clicking tabs */
outline: none; }
a:hover{ text-decoration:none;}
ul { list-style: none; }


.panel{padding:5px;}
/* 
	HEADLINES STYLING 
*/
.panel ul { border: 1px solid #d4d4d4; background: #f8f8f8; padding: 15px; }
.panel ul li a { border-bottom: 1px solid #d6d6d6; color: #222222; display: block; padding: 15px 10px; font-size: 11px; overflow: hidden; }
.panel ul li a .icon { margin: 5px; margin-right: 10px; }

/* Unique rollover colors for each list */
.panel ul#list-1 li a:hover { background: #52bbe2; color: white; text-decoration: none; }
.panel ul#list-2 li a:hover { background: #52bbe2; color: white; text-decoration: none;  }
.panel ul#list-3 li a:hover { background: #52bbe2; color: white; text-decoration: none; }



/* blogroll ie */
/*
#blogSliderWrap {
	background: white;
	width: 300px;
	position: relative;
	overflow: hidden;
	margin-left: 15px;
}

#blogSlider {
	background: white;
	width: 300px;
	padding: 0;
	margin: 0;
}

.stripNav {
	margin: 0;
	top: 18px;

}

*/