
#faq_wrapper_60{

}
#faq_wrapper_60 h2.faq_header{

}
#faq_wrapper_60 dl.faq_list{
	
}
#faq_wrapper_60 dt.faq_item{

}
#faq_wrapper_60  dt.minus{
	padding-left:20px;
	background:transparent url('/_assets/images/public/minus.png') no-repeat 0% 50%;
}
#faq_wrapper_60 dt.plus{
	padding-left:20px;
	background:transparent url('/_assets/images/public/plus.png') no-repeat 0% 50%;
}
#faq_wrapper_60 dd.faq_answer{

}
