#navigation_wrapper_11{
	
}
#navigation_wrapper_11 h2.navigation_header{
	
}
#navigation_wrapper_11 ul{
text-align:center;
}
#navigation_wrapper_11 ul li{
display:inline;
margin-right:10px;
}

#navigation_wrapper_11 ul li a:hover{

}