<body>
<div id="header">
	<div id="logo">
		%BANNER%
	</div>
	
	<div id="menu">	
		%MENU%
	</div>
</div>

<!-- start page -->
<div id="page">

	
	<!-- start sidebar -->
	<div id="sidebar" style="display:none;">
		<ul>
			<li>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Aliquam</a></li>
					<li><a href="#">Consectetuer </a></li>
				</ul>
			</li>
			<li>
				<h2>Archives</h2>
				<ul>
					<li><a href="#">September</a> (23)</li>
					<li><a href="#">August</a> (31)</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	

	<div id="content" class="container_1">
	
		%CONTAINER_1%
		
	</div>
	

	
</div>

<div style="clear: both; height: 30px">&nbsp;</div>
<!-- end page -->


<div id="footer" class="container_2">
	%CONTAINER_2%
	
	
	<p>&copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
	
</div>
</body>

