#showroom_wrapper_++{

}

/* category navigation */
#showroom_wrapper_++ div.showroom_categories{

}
#showroom_wrapper_++ div.showroom_categories ul{

}
#showroom_wrapper_++ div.showroom_categories ul li{

}
#showroom_wrapper_++ div.showroom_categories ul li span a{

}


/* items gallery container */
#showroom_wrapper_++ div.showroom_items{
	border:1px solid red;
}
#showroom_wrapper_++ div.showroom_items div.showroom_item{
	text-align:center;
	width:30%;
	float:left;
}
#showroom_wrapper_++ div.showroom_items div.showroom_item div.item_name{

}
#showroom_wrapper_++ div.showroom_items div.showroom_item div.item_body{

}
#showroom_wrapper_++ div.showroom_items div.showroom_item div.item_image{

}

/* single item view */

#showroom_wrapper_++ div.single_item{

}