/* rendered via theme: 'snowflakes' tool css. */
	/*  --- Main Wrapper --- */	
#contact_wrapper_27{

}
#contact_wrapper_27 div.contact_item{
	clear:both;
	overflow:hidden;
}
#contact_wrapper_27 div.contact_item div.contact_icon{
	float:left;
	text-align:center;
	padding:0 10px;
	width:80px;
	height:80px;
}
#contact_wrapper_27 div.contact_item div.phone{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/phone.ico') no-repeat 50% 50%;
}
#contact_wrapper_27 div.contact_item div.email{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/email.ico') no-repeat 50% 50%;
}
#contact_wrapper_27 div.contact_item div.aim{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/aim_icon.png') no-repeat 50% 50%;
}
#contact_wrapper_27 div.contact_item div.address{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/address.ico') no-repeat 50% 50%;
}
#contact_wrapper_27 div.contact_item div.map{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/map_icon.png') no-repeat 50% 50%;
}
#contact_wrapper_27 div.contact_item div.newsletter{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/newsletter_icon.png') no-repeat 50% 50%;
}
#contact_wrapper_27 div.contact_item div.hours{
	background:transparent url('/_data/sprite/themes/snowflakes/tools/contact/images/hours_icon.png') no-repeat 50% 50%;
}

#contact_wrapper_27 div.contact_item div.contact_view{
	float:left;
}
#contact_wrapper_27 div.contact_item div.contact_name{
	font-weight:bold;
}

#contact_wrapper_27 div.contact_item .contact_value{

}	


/* --- map  --- */



/* --- email --- */
#contact_wrapper_27 .email_form_link{

}
#contact_wrapper_27 .email_form_link a{

}	
#contact_wrapper_27 .email_form_link a:hover{

}

	/*  --- email form --- */	
	
#contact_wrapper_27 .email_form_wrapper{

}
#contact_wrapper_27 .email_form_wrapper table{
	width:650px;
}
#contact_wrapper_27 .email_form_wrapper table th{	
	font-weight:bold;
	padding:5px;
	background:#fffcc;
}
#contact_wrapper_27  .email_form_wrapper table td{
	vertical-align:top;
	padding:5px;
	width:50%;
}
#contact_wrapper_27  .email_form_wrapper div{

}
#contact_wrapper_27  .email_form_wrapper b{
	color:blue;
	font-weight:bold;
}
#contact_wrapper_27  .email_form_wrapper input{
	font-size:1.4em;
	margin-bottom:6px;
}
#contact_wrapper_27  .email_form_wrapper textarea{
	width:300px;
	height:200px;
}