
#album_wrapper_++{

}

	/* --- lightbox --- */

#album_wrapper_++{
	margin:5px;
}
#album_wrapper_++ ul.album_lightbox { 
	list-style: none; 
	margin:0;
	padding:0;
}
#album_wrapper_++ ul.album_lightbox li { 
	float:left;
	height:120px;
	margin:5px;
}
#album_wrapper_++ ul.album_lightbox img {
/*img_helper*/
}
#album_wrapper_++ ul.album_lightbox a:hover img {

}
#album_wrapper_++ ul.album_lightbox a:hover { 
	color: #fff; 
}
