
        {% if visitor.group.can("add_post", "add_draft", "add_page", "view_own_draft", "view_draft", "change_settings", "toggle_extensions") %}
        <div id="controls" {% if hide_admin %} style="display: none"{% endif %}>
            <ul>
                {% if visitor.group.can("add_post") %}
                <li><a id="add_post" href="{% admin "write_post" %}">${ "Write" | translate }</a></li>
                {% elseif visitor.group.can("add_draft") %}
                <li><a id="add_draft" href="{% admin "write_post" %}">${ "Write Draft" | translate }</a></li>
                {% endif %}
                {% if visitor.group.can("add_page") %}
                <li><a id="add_page" href="{% admin "write_page" %}">${ "Add Page" | translate }</a></li>
                {% endif %}
                {% if visitor.group.can("view_own_draft", "view_draft") %}
                <li><a id="your_drafts" href="{% url "drafts" %}">${ "Your Drafts" | translate }</a></li>
                {% endif %}
                {% if visitor.group.can("change_settings", "toggle_extensions") %}
                <li><a id="site_settings" href="$site.chyrp_url/admin/">${ "Admin" | translate }</a></li>
                {% endif %}
                <li class="close"><a class="toggle_admin" href="{% url "toggle_admin" %}">${ "Close" | translate }</a></li>
            </ul>
        </div>
        {% endif %}


        <div id="blog_wrapper">
{% include "content/sidebar.twig" %}
            <div id="blog_content">
                {% for type, messages in flash.all | items %}
                {% for message in messages %}
                <div class="${ type | depluralize }">$message</div>
                {% endfor %}
                {% endfor %}
{% block content %}{% endblock %}
                <div class="clear"></div>
                $posts.prev_link
                $posts.next_link
                {% if posts.paginated and posts.pages > 1 %}
                <span class="pages">${ "Page %d of %d" | translate | format(posts.page, posts.pages) }</span>
                {% endif %}
				

            </div>
            <div class="clear"></div>
        </div>

${ trigger.call("end_content") }
