#faq_wrapper_20{

}
#faq_wrapper_20 div.faq_title{
background:#333;
color:#fff;
padding:5px;
text-align:center;
font-weight:bold;
font-size:1.4em;
}
#faq_wrapper_20 dl.faq_list{
 line-height:2em;	
}
#faq_wrapper_20 dt.faq_item{

}
#faq_wrapper_20 dd.faq_answer{
margin:5px;
padding:10px;
border:1px dashed #ccc;
}