<div id="header">
	<div id="logo">
		<h1><a href="#">SnowFlakes</a></h1>
		<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
	</div>
	
	<div id="menu">
		%MENU%
	</div>
	
</div>
<div id="snowflakes_content">

	<div id="posts">
		<div class="post">	
			%PRIMARY%
		</div>		
	</div>
	
	<div id="bar">
		%SECONDARY%
	</div>
</div>
<div id="footer">
	<p id="copy">&copy;2007 Snow Flakes. Designed by <a href="#">Free CSS Templates</a></p>
	<p id="feed"><a href="#" id="rss">RSS Feed</a></p>
</div>