/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: url('/_data/sprite/themes/decorative/images/img01.png') repeat-y center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #9E9D89;
}

form {
}

input, textarea {
	border: 1px solid #DEDED1;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
}

input.text {
	padding: .15em;
	background: #FDFDFB url(/_data/sprite/themes/decorative/images/img06.gif) repeat-x;
}

input.button {
	background: #763320 url(/_data/sprite/themes/decorative/images/img07.gif) repeat-x;
	color: #FFFFFF;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #D15803;
}

h1 {
	letter-spacing: -.05em;
	font-size: 2.2em;
}

h2 {
	margin-top: 1em;
	letter-spacing: -.05em;
	font-size: 1.4em;
}

h3 {
	margin-top: 1em;
}

p, ul, ol {
	margin-top: 1em;
	line-height: 160%;
}

ul {
	list-style: none;
}

ul li {
	margin-left: 1em;
	padding-left: .75em;
	background: url(/_data/sprite/themes/decorative/images/img05.gif) no-repeat left center;
}

ol {
	margin-left: 1em;
	list-style-position: inside;
}

blockquote {
	margin-left: 1em;
	padding-left: .75em;
	border-left: 1px solid #9E9D89;
}

a {
	text-decoration: none;
	color: #D15803;
}

a:hover {
	text-decoration: underline;
	color: #827F4F;
}

/* Header */

#header{
	width: 860px;
	height: 100px;
	margin: 0 auto;
	padding: 0 40px;
	background: url(/_data/sprite/themes/decorative/images/img02.png);
}

#logo{
	float:left;
	width:220px;
	height:80px;
	margin-right:10px;
}


	/* -----------  MAIN_MENU ------------ */

#MAIN_MENU{
	float: left;
	width: 620px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:45px;
}
#MAIN_MENU ul {
	text-align:center;
	list-style:none;
	overflow:hidden;
	background:none;
}
#MAIN_MENU ul li {
	display:inline;
	margin-left:10px;
	background:none;
}
#MAIN_MENU li a {
	color:#fff;
	text-decoration:none;
	font-family:verdana;
}
#MAIN_MENU li a:hover {
	text-decoration:underline;
	color:#000;	
}
#MAIN_MENU li a.selected {
	color:#333;
	text-decoration: underline;
}


/* Page */
#page {
	width: 940px;
	margin: 0 auto;
}

/* Content */

#content,
.blog_posts_wrapper {
	float: right;
	width: 580px;
	padding: 35px 50px 0 0;
	background: url(/_data/sprite/themes/decorative/images/img04.png) no-repeat right top;
}

.post {
}

.post .meta {
	margin: 0 0 1.5em 0;
	padding: 0 0 1px 10px;
	background: url(/_data/sprite/themes/decorative/images/img08.png) no-repeat left bottom;
	line-height: normal;
}

.post .meta small {
	font-size: 12px;
}

/* Sidebar */

#sidebar,
.blog_navigation {
	float: left;
	width: 240px;
	padding: 20px 0 0 30px;
	background: url(/_data/sprite/themes/decorative/images/img03.png) no-repeat;
	font-size: smaller;
	color: #E3E3D4;
}

#sidebar ul,
.blog_navigation ul {
	padding: 0;
	list-style: none;
}

#sidebar li,
.blog_navigation li{
	margin-bottom:5px;
	padding: 0;
	background: none;
}

#sidebar li ul,
.blog_navigation li ul{
}

#sidebar li li,
.blog_navigation li li {
	margin: 0 0 0 1em;
	padding-left: .75em;
	background: url(/_data/sprite/themes/decorative/images/img09.gif) no-repeat left center;
}

#sidebar h2, #sidebar h3,
.blog_navigation h2, .blog_navigation h3{
	color: #FFFFFF;
}

#sidebar a,
.blog_navigation a {
	color: #FFFFFF;
}

/* Footer */

#footer {
	width: 860px;
	margin: 0 auto;
	padding: 20px 40px;
	text-align: right;
}

#footer p {
	font-size: 10px;
}