
/* common container */

.blog_navigation{
	float:left;
	width:18%;
	padding:5px;
	margin-right:10px;
}
.blog_content{
	float:left;
	width:78%;
}

/* home */
.blog_post_wrapper{

}
.blog_item{
	margin-bottom:15px;
}

.post_title{
	font-weight:bold;
	background:#eee;
	padding:5px;
}
.post_created{
	float:right;
}
.post_body{
	padding:15px;
}
.post_comments a.get_comments{
	float:right;
}


.add_comment{
	margin:10px auto;
	width:400px;
}
/* single */
.blog_response{
	text-align:center;
	color:green;
	font-weight:bold;
}
.comments_wrapper{
	margin:0 auto;
	width:80%;
	
}
.comment_title{
	text-align:center;
	font-weight:bold;
	font-size:1.4em;
}
.comment_item{
	padding:10px;
	margin:10px;
	border:1px solid #ccc;
}

/* archive view */
.archive_wrapper{

}
.archive_wrapper h1{
}
.archive_wrapper h2{
	margin-top:10px;
	margin-left:20px;
}
.archive_wrapper div.archive_post{
	clear:both;
	margin-left:40px;
	overflow:auto;
}
.archive_wrapper div.archive_post span{
	display:block;
	float:left;
	width:30px;
}
.archive_wrapper div.archive_post a{
	float:left;
}


