<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/> 
<meta name="author" content=""/> 
<link rel="stylesheet" type="text/css" href="global.css" media="screen"/>

<title>Natural Essence</title>

</head>

<body>

<div id="wrapper">
<div id="container">

<div class="title">
	
	<h1><a href="index.html">Natural Essence</a></h1>

</div>

<div class="header"></div>

<div id="MAIN_MENU">
	%MENU%
	<div class="clearer"></div>
</div>

<div class="main" id="two-columns">

	<div class="col2">

		<div class="container_1">
			%CONTAINER_1%
		</div>

			
		</div>

		<div class="clearer"></div>

	</div>


	<div class="bottom">

		<div class="left">
		
			<h2>Previous entries</h2>

			<ul class="block">
				<li><a href=""><span>Sodales</span><em>Vestibulum ipsum nunc, aliquet quis</em></a></li>
				<li><a href=""><span>Varius eget</span><em>Donec ligula lorem, varius eget</em></a></li>
				<li><a href=""><span>Integer varius</span><em>Nam semper ornare ipsum</em></a></li>
				<li><a href=""><span>Vehicula</span><em>Cras sed purus non justo</em></a></li>
			</ul>
			
		</div>

		<div class="right">

			<h2>About</h2>

			<p>Sed, luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>

			<h2>From the gallery</h2>

			<table>
			<tr>
				<td><img src="img/thumb.gif" width="110" height="90" alt="" /></td>
				<td style="width:5px"></td>
				<td><img src="img/thumb.gif" width="110" height="90" alt="" /></td>
				<td style="width:5px"></td>
				<td><img src="img/thumb.gif" width="110" height="90" alt="" /></td>
			</tr>
			</table>
			
		</div>

		<div class="clearer"></div>

	</div>


	<div class="footer">
		
		<div class="left">
			Copyright &copy; 2007 <a href="index.html">Website.com</a>
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a>
		</div>

		<div class="clearer"></div>

	</div>

</div>

</div>
</div>

</body>
</html>