

#format_wrapper_++{

}
	/*  --- faqs simple view  --- */
#format_wrapper_++  dt.minus{
	padding-left:20px;
	background:transparent url('/_assets/tools/format/faq/delete.png') no-repeat 0% 50%;
}
#format_wrapper_++ dt.plus{
	padding-left:20px;
	background:transparent url('/_assets/tools/format/faq/add.png') no-repeat 0% 50%;
}