<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<!--Terminal Velocity Dark Version-->

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="robots" content="all" />
<title>Terminal Velocity - A clean minimalistic single page theme</title> 

<link rel="icon" href="../images/favicon.ico" type="image/png" />
<link rel="shortcut icon" href="../images/favicon.ico" type="image/png" />

<!--Style Sheets-->

<link rel="stylesheet" href="../css/global.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" href="css/ie6.css" media="screen" />
<![endif]-->
</head>

<body>

<div id="header">
	<div class="center">
		<div id="logo">
			%BANNER%
		</div>

		<div id="MAIN_MENU">
			%MENU%
		</div>  
		
	</div>
</div>


<div id="content">
	<div class="center container_1">
		%CONTAINER_1%	
	</div>
</div>
<div id="footer">
	<span>Copyright 2009 Your Name</span>
</div>

</body>

</html>