

#format_wrapper_++{

}

	/*  --- people  --- */


	/*  --- faq  --- */
#format_wrapper_++  dt.minus{
	padding-left:20px;
	background:transparent url('/_assets/tools/format/faq/delete.png') no-repeat 0% 50%;
}
#format_wrapper_++ dt.plus{
	padding-left:20px;
	background:transparent url('/_assets/tools/format/faq/add.png') no-repeat 0% 50%;
}


	/*  --- slide_panel  --- */
#format_wrapper_++ #slider {
	width: 100%;
	margin: 0 auto;
	margin-top:20px;
	position: relative;
}
#format_wrapper_++ .scroll {
	float:left;
	width:600px;
	overflow:auto;
	position:relative; /* fix for IE to respect overflow */
}
#format_wrapper_++ .scrollContainer div.panel {
	padding:10px;
	width:580px;
	_width: 99%; /* change to 560px if not using JS to remove rh.scroll */
 }
#format_wrapper_++ li a.selected{
	background:#7ebd40 !important;
	color:#fff !important;
}
#format_title_list{
	float:left;
	width:18%;
	margin-right:10px;
}
#format_title_list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 1em;
}

#format_title_list li a{
	display:block;
	padding:10px;
}

#format_title_list a:hover{
}