	/*  --- Main Wrapper --- */	
#contact_wrapper_++{

}
#contact_wrapper_++ div.contact_item{
	clear:both;
	overflow:hidden;
}
#contact_wrapper_++ div.contact_item div.contact_icon{
	float:left;
	text-align:center;
	padding:0 10px;
}
#contact_wrapper_++ div.contact_item div.contact_view{
	float:left;
}
#contact_wrapper_++ div.contact_item div.contact_name{
	font-weight:bold;
}

#contact_wrapper_++ div.contact_item .contact_value{

}	


/* --- map  --- */



/* --- email --- */
#contact_wrapper_++ .email_form_link{

}
#contact_wrapper_++ .email_form_link a{

}	
#contact_wrapper_++ .email_form_link a:hover{

}

	/*  --- email form --- */	
	
#contact_wrapper_++ .email_form_wrapper{

}
#contact_wrapper_++ .email_form_wrapper table{

}
#contact_wrapper_++ .email_form_wrapper table th{	

}
#contact_wrapper_++  .email_form_wrapper table td{

}
#contact_wrapper_++  .email_form_wrapper div{

}
#contact_wrapper_++  .email_form_wrapper b{

}
#contact_wrapper_++  .email_form_wrapper input{

}
#contact_wrapper_++  .email_form_wrapper textarea{

}