	/*  --- index.php --- */
div.contact_item{
	clear:both;
	overflow:auto;
}
div.contact_wrapper div.contact_icon{
	float:left;
	text-align:center;
	padding:0 10px;
}
div.contact_wrapper div.contact_view{
	float:left;
}
div.contact_wrapper div.contact_name{
	font-weight:bold;
}

div.contact_wrapper .contact_value{

}	

/* --- map view --- */


/* --- email view --- */

.email_form_link{
	float:right;
	padding:10px 0;
}
.email_form_link a{
}	
.email_form_link a:hover{
}
.send_success,
.send_error{
	text-align:center;
	padding:10px;
	background:#ffffcc;
	font-weight:bold;
	margin:10px;
}
.send_error{
	background:pink;
}
	/*  --- email form --- */	
	
.email_form_wrapper{

}
.email_form_wrapper table{
	width:100%;
	border-collapse:collapse;
	margin:0 auto;
}
.email_form_wrapper table th{	
	text-align:center;
	padding:10px;
}
.email_form_wrapper table td{
	width:50%;
	padding:10px;
	vertical-align:top;
}
.email_form_wrapper div{
	margin-bottom:10px;
}
.email_form_wrapper b{
}
.email_form_wrapper input{
	padding:5px;
	width:90%;
}
.email_form_wrapper textarea{
	width:90%;
}