	/*  --- index.php --- */
	
.contact_wrapper table.contact_table {
	width:100%;
	border-collapse:collapse;
}	
.contact_wrapper table.contact_table td.contact_icon{
	width:90px;
	vertical-align:top;
}

.contact_wrapper table.contact_table td span.contact_name{
	display:block;
	font-weight:bold;
	padding:5px 0;
}

.contact_wrapper table.contact_table td .contact_value{
	line-height:1.2em;
	padding:10px;
}	

/* --- map view --- */


/* --- email view --- */

.email_form_link{
	float:right;
	padding:10px 0;
}
.email_form_link a{
}	
.email_form_link a:hover{
}
.send_success,
.send_error{
	text-align:center;
	padding:10px;
	background:#ffffcc;
	font-weight:bold;
	margin:10px;
}
.send_error{
	background:pink;
}
	/*  --- email form --- */	
	
.email_form_wrapper{

}
.email_form_wrapper table{
	width:100%;
	border-collapse:collapse;
	margin:0 auto;
}
.email_form_wrapper table th{	
	text-align:center;
	padding:10px;
}
.email_form_wrapper table td{
	width:50%;
	padding:10px;
	vertical-align:top;
}
.email_form_wrapper div{
	margin-bottom:10px;
}
.email_form_wrapper b{
}
.email_form_wrapper input{
	padding:5px;
	width:90%;
}
.email_form_wrapper textarea{
	width:90%;
}