html {
	font-size: 80%;
	ackground:#fff url(%PATH%/green.png) 0 0 repeat; 
}
html, body {
	margin:0;
	font-family:verdana, arial;
}

	/* ------------ reset base styles  ------------*/
	
a {border:0;}
img {border:0;}
h1,h2,h3,h4,h5,h6{font-size:1em; padding:0; margin:0; margin-bottom:10px;}
h1{font-size:1.6em;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
/* ul , ol, dl{line-height:1.4em;}  */
dt{font-weight:bold;}

	/* ------------ header_wrapper  ------------*/
	
#header_wrapper{
  background:#000;
  border-bottom:1px solid #d9f2d3;
  min-height:80px;
  padding:10px 0;
}
#header_wrapper img{
	padding:10px;
}
#header{
  width:80%;
  min-width:800px;
  margin:auto;
  _border:1px solid red;
}
#header_banner{
	float:left;
}
#header_address{
	float:right;
	margin-right:10px;
	text-align:right;
}
#header_address b{
	font-size:1.2em;
	color:#444;
}
#header_address p{
	font-style:italic;
	color:#444;
	font-size:0.9em;
}
	/* ------------ body_wrapper  ------------*/
	
#body_wrapper{
  width:850px;
  margin:auto;
  padding:0;
}	

	/* -----------  main_menu_wrapper ------------ */

#main_menu_wrapper{
	clear:both;
	min-width:850px;
	margin:10px;
}
#main_menu_wrapper ul {
	text-align:center;
	width:850px;
	list-style:none;
	margin:0 auto;
	padding:8px 0; 
	overflow:hidden;
}
#main_menu_wrapper ul li {
	display:inline;
	margin-left:15px;
}
#main_menu_wrapper li a {
	padding:8px 15px; 
	background:#000 url(%PATH%/black_bg.png) 0 0 repeat; 
	color:#fff;
	font-size:1.2em;
	text-decoration:none;
	font-family:verdana;
}
#main_menu_wrapper li a:hover {
	background:red url(%PATH%/red_bg.png) 0 0 repeat; 
	text-decoration:underline;
}
#main_menu_wrapper li a.selected {
	background:red url(%PATH%/red_bg.png) 0 0 repeat !important; 
	text-decoration: underline;
}

	/*  ---------------- content_wrapper ---------------- */
	
#content_wrapper{
	background:#ffffcc;
	min-height:400px;
	padding:20px 12px 12px 12px;
}