
.phpajaxcalendar_wrapper table#calendar tr td
{
	vertical-align:top;
}

.phpajaxcalendar_wrapper table#calendar tr
{
	text-align: center;
}

.phpajaxcalendar_wrapper table#calendar .month
{
    width:auto;/* stupid IE */
}

.phpajaxcalendar_wrapper table#calendar tr.daynames td
{
	width: 50px;
	background: #666;
	color: #fff;
}

.phpajaxcalendar_wrapper table#calendar tr.week td
{
	height: 100px;
	width:100px;
	border:1px solid red;
}

.phpajaxcalendar_wrapper table#calendar td.today
{
	color: white;
	font-weight: bold;
	background: green;
}