#album_wrapper_16{

}
/* --- lightbox --- */

#album_wrapper_16{
	margin:5px;
	ackground:#eee;
	order:1px solid #ccc;
}
#album_wrapper_16 ul.album_lightbox { 
	list-style: none; 
	margin:0;
	padding:0;
}
#album_wrapper_16 ul.album_lightbox li { 
	float:left;
	height:120px;
	margin:5px;	
	order:1px solid #ccc;
}
#album_wrapper_16 ul.album_lightbox img {

}
#album_wrapper_16 ul.album_lightbox a:hover img {

}
#album_wrapper_16 ul.album_lightbox a:hover { 
	color: #fff; 
}
