.topline { 

	background-image: url(topline.gif);
	background-repeat: repeat-x;
	height: 23px;
	width: 100%;
}
#addy{
	border:1px solid red;
}
.bottomline { 
	background-image: url(bottomline.gif);
	background-repeat: repeat-x;
	height: 61px;
	width: 100%;
}

.content {
	color: #ffffff;
	top: 160px;
	left: 200px;
	width: 30%;
	height: 300px;
	z-index: 3; 
}


.mainpic {
	position: absolute;
	top: 140px;
	left: 55%;
	z-index: 2; 
}

.logo {
	z-index: 2; 
}

.wheelie {
	position: absolute;
	top: 135px;
	left: 150px; 
	z-index: 1; 
}


