

#format_wrapper_++{

}


	/*  --- tabs  --- */
#format_wrapper_++ ul.tabs_tab_list{
	margin:0;
	padding:8px 0;
}
#format_wrapper_++ ul.tabs_tab_list li{
	display:inline;
	margin-right:10px;
}
#format_wrapper_++ ul.tabs_tab_list li a{
	padding:8px 15px;
	background:#555;
	color:#fff;
}
#format_wrapper_++ ul.tabs_tab_list li a:hover,
#format_wrapper_++ ul.tabs_tab_list li a.active{
	background:#E0E9EF;
	color:#333;
	position:relative;
	top:1px;
}


#format_wrapper_++ .tabs_content_wrapper .format_item{
	padding:20px;
	background:#E0E9EF;
	color:#000;
}
