<?php
	header("Content-type: text/css");
	header('Expires: ' . date('r',time() + 864000));
	header("Pragma: public");
	header("Cache-Control: public");

/* 
@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");
*/
	$bg_image_path = 'images/main-bg.gif';
	
?>

html {
	font-size: 80%;
	background:#fff;
	_background:url('<?=$bg_image_path;?>') repeat left 1px;
}
html, body {
	margin:0;
	font-family:verdana, arial;
}

	/* ------------ reset base styles  ------------*/
	
a {border:0;}
img {border:0;}
h1,h2,h3,h4,h5,h6{font-size:1em; padding:0; margin:0; margin-bottom:10px;}
h1{font-size:1.6em;}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
/* ul , ol, dl{line-height:1.4em;}  */
dt{font-weight:bold;}
	/* ------------ header_wrapper  ------------*/
	
#header_wrapper{
  background-color:#000;
  border-bottom:1px solid #ccc;
  min-height:80px;
  padding:10px 0;
  margin-bottom:20px;
  _border:1px solid red;
}
#header{
  width:80%;
  min-width:800px;
  margin:auto;
  _border:1px solid red;
}
#header_banner{
	float:left;
}
#header_address{
	float:right;
	margin-right:10px;
	text-align:right;
}
#header_address b{
	font-size:1.2em;
	color:#fff;
}
#header_address p{
	font-style:italic;
	color:#fff;
	font-size:0.9em;
}
	/* ------------ body_wrapper  ------------*/
	
#body_wrapper{
  width:80%; 
  min-width:840px;
  margin:auto;
  padding:0 10px;
}	

	/* -----------  main_menu_wrapper ------------ */

#main_menu_wrapper{
	_border:1px solid red;
	background:transparent;
	padding:7px 0;
	margin:0 30px;
	clear:both;
	text-align:center;
	margin-bottom:15px;
}
#main_menu_wrapper a{
	padding:7px 15px; 
	margin-left:10px;
	background:#000;
	color:#fff;
	text-decoration:none;
}
#main_menu_wrapper a:hover {
	background:orange;
	text-decoration:underline;
	color:#000;	
}
#tab_selected{
	background:#a8310f !important;
	color:#fff !important;
	border-bottom:0 !important;
}

/*  ---------------- primary_client_links ---------------- */

#primary_client_links{
	text-align:right;
	padding:5px;
}
#primary_client_links a{
	padding:3px 8px;
	margin-left:10px;
	_background:#fff;
}
#primary_client_links a:hover{
	background:#333;
	color:#fff;
}

	/*  ---------------- primary_wrapper ---------------- */
	
#primary_wrapper{
  _background:#ffffcc;
  _min-height:420px;
  _padding:20px 12px 12px 12px;
  _border:2px solid #fff;
  overflow:auto;
}
#primary_tagline{
	font-weight:bold;
	color:#0c7ced;
	font-size:1.6em;
	text-align:center;
}
#primary_left_panel{
	padding:20px 12px 12px 12px;
	background:#ffffcc;
	_border:1px solid red;
}
#primary_right_panel{
  float:right;
  width:50%;
  _border:1px solid red;
  text-align:center;
}
#primary_full_panel{
	padding:0 10px;
	_border:1px solid green;
}
#primary_right_panel img{
  padding:6px;
  background:#fff;
  border:1px solid #fff;
}

	/*  ---------------- secondary_wrapper ---------------- */
	
#secondary_wrapper{
  text-align:center;
  padding:10px 20px;
  background:#fff;
  margin:0 20px;
}

	/*  ---------------- action_wrapper ---------------- */

#action_wrapper{
	_border:1px solid #ccc;
	margin:0 20px;
	background:#fff;
	padding:20px;
}
.action{
	font-size:1.6em;
	line-height:1.4em;
	font-weight:bold;
	text-align:center;
}
#newsletter{
	text-align:center;
	line-height:1.2em;
}
#footer_wrapper{
	min-height:30px;
}

	/*   ------------- status messages  ------------- */
	
.error{
	background:pink;
	padding:5px;
}

	/*   ------------- helpers  ------------- */
	
.align_center{text-align:center;}
.align_right{text-align:right;}
.clearboth{clear:both;}
.clearleft{clear:left;}
.clearright{clear:right;}