/* Datepicker
----------------------------------*/
.ui-datepicker {}
.ui-datepicker .ui-datepicker-header {margin-top:7px;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev {float:left; display:block;  background:#ffffcc; padding:3px; }
.ui-datepicker .ui-datepicker-next {float:right;  display:block;  background:#ffffcc; padding:3px;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover{cursor:cursor; cursor:pointer; text-decoration:underline; color:red;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { }

.ui-datepicker .ui-datepicker-title {clear:both; background:#e5f2fe; padding-top:5px; overflow:auto;}
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker .ui-datepicker-title span.ui-datepicker-year{ font-weight:bold;}


.ui-datepicker select.ui-datepicker-month-year { width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year {width:49%; float:right;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {font-weight:bold;}

.ui-datepicker table {width: 100%; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td {text-align:center; padding: 2px 1px; }
.ui-datepicker td span, .ui-datepicker td a { background:#eee; display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker td span, .ui-datepicker td a:hover, a.ui-state-active {background:orange !important;}

.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }


/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

.calendar_date_pane{
	width:47%;
	float:left;
	margin-top:10px;
	padding:5px;
}


