<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Snowflake Theme for Sprite account</title>
<link rel="stylesheet" type="text/css" href="global.css" />
</head>
<body>

<div id="header">
	<div id="logo">
		<h1><a href="#">SnowFlakes</a></h1>
		<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
	</div>
	
	<div id="MAIN_MENU">
		%MENU%
	</div>
	
</div>
<div id="snowflakes_content">
	<div id="single_column">
		%CONTAINER_1%
	</div>
</div>
<div id="footer">
	<p id="copy">&copy;2007 Snow Flakes. Designed by <a href="#">Free CSS Templates</a></p>
	<p id="feed"><a href="#" id="rss">RSS Feed</a></p>
</div>

</body>
</html>