/* add links page*/

#add_links_form p span{
	display:none;
}
#left_wrapper{
	float:left;
	width:180px;
}
ul#actions_list{
	margin-top:10px;
	line-height:1.6em;
}
#admin_navigation_wrapper{
	float:right;
	width:550px;
	height:350px;
	overflow:auto;
	padding:10px;
	border:1px solid #ccc;
}



.simpleTree
{	
	margin:0;
	padding:0;
	/*
	overflow:auto;
	width: 250px;
	height:350px;
	overflow:auto;
	border: 1px solid #444444;
	*/
}
.simpleTree li
{
	list-style: none;
	margin:0;
	padding:0 0 0 34px;
	line-height: 2em;
}
.simpleTree li span
{
	display:inline;
	clear: left;
	white-space: nowrap;
}
.simpleTree li span:hover
{
	cursor:move;
}
.simpleTree ul
{
	margin:0; 
	padding:0;
}
.simpleTree .root
{
	margin-left:-16px;
	background: url(/assets/images/navigation/root.gif) no-repeat 16px 0 #ffffff;
}
.simpleTree .line,
.simpleTree .line-last,
.simpleTree .line-over,
.simpleTree .line-over-last{
	margin:0 0 0 -16px;
	line-height: 3px;
	font-size:3px;
	height:3px;
}
.simpleTree .line-expand{
	height:10px;
	padding:3px 0;
	margin:2px;
	border:1px solid green;
	background:lightgreen;
}

.simpleTree .line{
	background: #ffffcc url(/assets/images/navigation/line_bg.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-last{
	background: #ffffcc url(/assets/images/navigation/spacer.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over{
	background:orange !important;
	border:1px solid orange !important;

}
.simpleTree .line-over-last{
	background:orange !important;
	border:1px solid orange !important;
}
.simpleTree .folder-open
{
	margin-left:-16px;
	background: url(/assets/images/navigation/collapsable.gif) 0 -2px no-repeat #fff;
}
.simpleTree .folder-open-last
{
	margin-left:-16px;
	background: url(/assets/images/navigation/collapsable-last.gif) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close
{
	margin-left:-16px;
	background: url(/assets/images/navigation/expandable.gif) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close-last
{
	margin-left:-16px;
	background: url(/assets/images/navigation/expandable-last.gif) 0 -2px no-repeat #fff;
}
.simpleTree .doc
{
	margin-left:-16px;
	background: url(/assets/images/navigation/leaf.gif) 0 -1px no-repeat #fff;
}
.simpleTree .doc-last
{
	margin-left:-16px;
	background: url(/assets/images/navigation/leaf-last.gif) 0 -1px no-repeat #fff;
}
.simpleTree .ajax
{
	background: url(/assets/images/navigation/spinner.gif) no-repeat 0 0 #ffffff;
	height: 16px;
	display:none;
}
.simpleTree .ajax li
{
	display:none;
	margin:0; 
	padding:0;
}
.simpleTree .trigger
{
	display:inline;
	margin-left:-32px;
	width: 28px;
	height: 11px;
	cursor:pointer;
}
.simpleTree .text
{
	cursor: default;
}
.simpleTree .active,
.simpleTree li span:hover
{
	cursor: move;
	background-color:#F7BE77;
	padding:0px 2px;
	border: 1px dashed #444;
}
#drag_container
{
	z-index:9999;
	background:#ffffff;
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	border: 1px dashed #767676;
}
#drag_container ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#drag_container li
{
	list-style: none;
	background-color:#ffffff;
	line-height:18px;
	white-space: nowrap;
	padding:1px 1px 0px 16px;
	margin:0;
}
#drag_container li span
{
	padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
	background: url(/assets/images/navigation/leaf.gif) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
	background: url(/assets/images/navigation/expandable.gif) no-repeat -17px 0 #ffffff;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
	background: url(/assets/images/navigation/collapsable.gif) no-repeat -17px 0 #ffffff;
}
.contextMenu
{
	display:none;
}
