/* add links page*/

#add_links_form p span{
	display:none;
}
ul#actions_list{
	margin-top:10px;
	line-height:1.6em;
}


/* edit links page*/

.fieldsets .each_link_wrapper{
	padding:5px;
}
.fieldsets .tier{
	margin:5px auto;
	width:400px;
	padding:5px;
	text-align:right;
	order:1px solid #ccc;
}
.fieldsets .hide{
	display:none;
}

	
