<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/> 
<meta name="author" content=""/> 
<link rel="stylesheet" type="text/css" href="../css/global.css" media="screen"/>

<title>Natural Essence</title>

</head>

<body>

<div id="wrapper">
<div id="container">

<div class="title">
	
	<h1><a href="index.html">Natural Essence</a></h1>

</div>

<div class="header"></div>

<div id="MAIN_MENU">
	%MENU%
	<div class="clearer"></div>
</div>

<div class="main" id="two-columns">

	<div class="col2">

		<div class="container_1">
			%CONTAINER_1%
		</div>

			
		</div>

		<div class="clearer"></div>

	</div>


	<div class="bottom container_3">
		%CONTAINER_3%

		<div class="clearer"></div>

	</div>


	<div class="footer">
		
		<div class="left">
			Copyright &copy; 2007 <a href="index.html">Website.com</a>
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a>
		</div>

		<div class="clearer"></div>

	</div>

</div>

</div>
</div>

</body>
</html>