

/* ------------ Overide theme styles for admin views  ------------*/
noscript{
	position:fixed;
	width:100%;
	text-align:center;
	background:#ffffcc;
	padding:10px;
	font-weight:bold;
	font-size:1.4em;
	top:40px;
}
.admin_reset img{border:0}
.admin_reset h1,.admin_reset h2, .admin_reset h3,.admin_reset h4,.admin_reset h5,.admin_reset h6{
	font-size:1em !important; padding:0 !important; margin:0 !important; margin-bottom:10px !important; background:none !important;
}
.admin_reset h1{font-size:1.6em !important; color:#0c7ced !important;}
.admin_reset h2{font-size:1.4em !important; color:#7c78d3 !important;}
.admin_reset h3{font-size:1.2em !important; color:#7c78d3 !important;}
.admin_reset h4{font-size:1.1em !important; color:#000 !important;}
.admin_reset h5{font-size:1em !important; color:#7c78d3 !important;}
.admin_reset dt{font-weight:bold !important; color:#7c78d3 !important;}
.admin_reset p{margin:10px 0; padding:0;}
.admin_reset a,
.jade_toolbar_wrapper a,
.admin_reset .content a{
	color:blue;
}
.admin_reset a:hover,
.jade_toolbar_wrapper a:hover,
.admin_reset .content a:hover{
	color:purple;
}
#admin_bar_wrapper a:visited,
.jade_toolbar_wrapper a:visited,
.facebox .content a:visited{
	color:purple;
}
.admin_reset label,.admin_reset label:hover{ cursor:pointer; cursor:cursor;}

#admin_bar_wrapper ul,
.jade_toolbar_wrapper ul,
.generic_tabs{
	margin:0;
	padding:0;
	list-style:none;
	line-height:24px ;
	background:transparent;
}
#admin_bar_wrapper ul li,
ul.toolkit_dropdown li,
.generic_tabs li{
	margin:0 !important;
	padding:0 !important;
	list-style:none !important;
	line-height:24px !important;
	background:transparent !important;
}
body.disable_body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/* icons */
span.icon {
	font-size:14px;
	background-attachment:fixed;
	background: url(/_assets/images/admin/icons_sprite.png) no-repeat 0px 0px;
}
span.cross{background-position:0px -12px}
span.cog{background-position:0px -29px}
span.wrench{background-position:0px -46px}
span.edit_page{background-position:0px -65px}
span.css{background-position:0px -81px}
span.manage{background-position:0px -98px}
span.add_page{background-position:0px -116px}
span.page{background-position:0px -135px}
span.shield{background-position:0px -152px}
span.sitemap{background-position:0px -168px}
span.tools{background-position:0px -187px}
span.magnify{background-position:0px -203px}
span.global{background-position:0px -219px}
span.local{background-position:0px -239px}
span.plus{background-position:0px -255px}
span.palette{background-position:0px -293px}
span.flag{background-position:0px -293px}
span.folder{background-position:0px -311px}
span.add_folder{background-position:0px -325px}
span.asterisk{background-position:0px -343px}
span.move{background-position:0px -361px}
span.template{background-position:0px -380px}
span.images{background-position:0px -398px}
span.image{background-position:0px -420px}
span.info{background-position:0px -440px}

#show_response_beta{
	position:fixed;
	top:40px;
	left:0;
	height:15px;
	padding:5px;
	background:#ffffcc;
	font-size:10px;
	color:#777;
	overflow:hidden;
	border:1px solid #777;
}
.admin_reset .on_close{display:none}

/* --------------- facebox ---------------*/
#facebox_base{z-index: 555 !important}
#facebox_base_overlay{z-index: 444 !important}
#facebox_2{z-index: 999 !important}
#facebox_2_overlay{z-index: 777 !important}

.facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	text-align: left; 
	width:100%;
	font-size: 12px !important;
	font-family:verdana, arial, "sans serif" !important;
	color:#333 !important;
	
}
.facebox .popup {
	position: relative;
	min-width:850px;
}
.facebox .close_wrapper {
	position:relative;
	margin:0 10px;
	overflow:hidden;
	top:2px;
}
.admin_reset .show_submit{
	width:275px;	
	height:25px;
	float:right;
	margin-right:10px;
	overflow:hidden;
	background: #ffffcc url('/_assets/images/admin/line_loader.gif') no-repeat 6% 50%;
}
.admin_reset .show_submit div{
	width:90px;
	height:25px;
	float:right;
	text-align:center;
	background: #ffffcc;
	color:#333;
	font-size:1em;
	padding:5px 10px 0 10px;
}
.facebox  .close_wrapper .close{
	display:block;
	height:28px;
	width:70px;
	float:right;
	padding:5px 5px 0 5px;
	background:#fff;
	border:2px solid #ccc;
	border-bottom:0;
}
.facebox .body {
	background:#fff;
	margin:0 10px;
	border:2px solid #ccc;
}
.facebox .content{
	margin:0 auto;
	width:800px;
	background:#fff;
	overflow:hidden;
	padding-top:15px;
	color:#333 !important;
}
.loading {
	margin:0 auto;
	text-align: center;
	width:500px;
	height:200px;
	padding-top:30px;
	background: transparent url('/_assets/images/admin/load.gif') no-repeat 50% 50%;
}
.facebox .image {
  text-align: center;
}
.facebox img {
  border: 0;
  margin: 0;
}

.facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {z-index:-100}
.facebox_overlayBG {background-color: #000;z-index: 999;}
* html .facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* facebox custom class views*/
.confirm_facebox{
	margin:0 auto;
	width:300px;
	height:200px;
	text-align:center;
	font-weight:bold;
	line-height:2em;
	padding:5px;
	overflow:hidden;
}
.facebox div.loading_msg,
.load_tool_html {
	margin:0 auto;
	width:300px;
	height:200px;
	background: transparent url(/_assets/images/admin/load.gif) no-repeat 50% 50%;
	font-size:1.4em;
	font-weight:bold;
	line-height:2em;
	overflow:hidden;
	text-align:center;
}


div.styler_wrapper{
	position:fixed;
	top:0;
	width:100%;
	background:transparent;
	z-index:9999999;
	font-size: 12px !important;
	font-family:verdana, arial, "sans serif" !important;
	color:#333 !important;
	text-align:left !important;
}
div.styler_wrapper .actions{
	position:relative;
	overflow:hidden;
	top:2px;
}
div.styler_wrapper a.toggle,
div.styler_wrapper a.close{
	display:block;
	height:28px;
	width:70px;
	float:right;
	padding:5px 5px 0 5px;
	border:2px solid #a3d7f9;
	margin-left:7px;
	border-bottom:0;
	background:#def1fe;
	text-align:center;
	color:#000;
}
div.dialog_wrapper{
	background:#def1fe;
	border:2px solid #a3d7f9;
	border-bottom:0;
}
div.styler_dialog{
	height:370px;
	margin:0 auto;
	min-width:800px;
	width:80%;
	background:#def1fe;
	overflow:hidden;
	padding:0;
}
/* --------------- Top Admin Panel --------------- */

#admin_bar_wrapper{
	position:fixed; 
	top:0;
	left:0;
	margin:0;	
	padding:0;
	min-width:880px;
	width:100%;
	font-size:12px !important;
	font-family: verdana !important;
	text-align:center;
	z-index:99;
}
#shadow{
	position:fixed; 
	top:0;
	left:0;
	margin:0;	
	padding:0;
	min-width:880px;
	height:40px;
	width:100%;
}
#shadow div{
	min-width:888px;
	width:81%;
	height:40px;
	margin:0 auto;
}
/* admin toolbar */
ul#admin_bar{
	min-width:880px;
	width:80%;
	height:35px;
	margin:0 auto;
	padding:0;
	background:skyblue url(/_assets/images/admin/gradients.jpg) repeat-x 0px -500px !important;	
	border:1px solid #333;
	border-top:0;
	color:#fff;
	text-align:left;
	list-style:none;
}
#unclaimed_panel{
	min-width:750px;
	width:70%;
	margin:0 auto;
	padding:6px 10px;
	background:#ffffcc;
	color:#444;
	text-align:left;
	border:1px solid #000;
}
#unclaimed_panel a{
	display:block;
	float:right;
	
}
#tool_bar_wrapper{
	min-width:880px;
	width:80%;
	height:10px;
	margin:0 auto;
	padding:0;
}
#admin_bar li{
	display:block;
	height:35px;
	width:9%;
	padding:0;
	margin:0;
	float:left;
}
#admin_bar li div,
#admin_bar li a.block_mode{
	display:block;
	height:31px;
	padding-top:4px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	cursor:hand;
	text-align:center;
	border-right:1px dashed #fff;
}
#admin_bar li.dropdown,
#admin_bar li.direct{
	background:orange url('/_assets/images/admin/gradients.jpg') repeat-x 0px -305px !important;
}
#admin_bar li.jade{
	background:green url('/_assets/images/admin/gradients.jpg') repeat-x 0px -150px !important;
}
#admin_bar li.floatright{
	background:#d52020 url('/_assets/images/admin/gradients.jpg') repeat-x 0px -465px !important; /*red*/
}
#admin_bar li.floatright a{
	border:0;
}
#admin_bar li.this_page div{
	color:#000;
}
#admin_bar li.direct a{
	text-decoration:none;
}
#admin_bar li.this_page a{
	color:red;
	font-weight:bold;
	text-decoration:none;
}
#admin_bar li.dropdown div:hover,
#admin_bar li.dropdown div.dropdown_selected,
#admin_bar li.floatright a:hover,
a.block_mode:hover,
#admin_bar li.dropdown ul li a:hover{
	background:purple url('/_assets/images/admin/gradients.jpg') repeat-x 0px -415px !important; /*purple*/
	color:#fff !important;
}
#admin_bar li.dropdown ul{	
	display:none;
	position:absolute;
	top:37px;
	clear:both;
	width:118px;
	list-style:none;
	background:#fff;
	margin:0;
	overflow:hidden;
	border:1px solid #222;
	color:#999;
}
#admin_bar li.dropdown ul li{	
	display:block;
	width:118px;
	height:28px;
}
#admin_bar li.dropdown ul li a{
	display:block;
	width:110px;
	height:28px;
	padding:0 4px;
	text-decoration:none;
	background:#fff;
}

/* --- toggle show/hide tool_panel --- */
#hider{
	width:95px !important;
}
#hide_link {
	display:none;
	position:fixed; 
	top:0;
	left:80%;
	width:100px;
	text-align:center;
	z-index: 9999;
}
#hide_link a {
	width:70px;
	display:block;
	padding:3px;
	background:#d52020 url('/_assets/images/admin/gradients.jpg') repeat-x 0px -465px;
	color:#fff;
	text-decoration:none;
	border:1px solid #333;
	border-top:0;
}
#hide_link a:hover {
	background:#fff;
	color:red;
}

/* --- Javascript Prepended red edit Tool Toolbar --- */
.jade_toolbar_wrapper{
	clear:both;
	font-size:12px !important;
	font-family: verdana !important;
	margin-bottom:2px;
	z-index:200 !important;
}
.jade_toolbar_wrapper div.bar{
	background:#d52020 url(/_assets/images/admin/gradients.jpg) repeat-x 0px -465px;
	border-collapse:collapse;
	width:100%;
	height:30px;
	border:1px solid #777;	
}
.jade_toolbar_wrapper div.name_wrapper{
	height:25px;
	float:left;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	font-weight:bold;
	cursor:move;
}
.jade_toolbar_wrapper div.actions_wrapper{
	float:right;
}
.jade_toolbar_wrapper a.actions_link{
	display:block;
	height:25px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	color:white;
	text-align:right;
	text-decoration:none;
}
.jade_toolbar_wrapper a.actions_link:hover,
.jade_toolbar_wrapper div.name_wrapper:hover{
	background:#000;
	ackground:purple url('/_assets/images/admin/gradients.jpg') repeat-x 0px -415px !important; /*purple*/
}

.jade_toolbar_wrapper ul.toolkit_dropdown{
	display:none;
	clear:both !important;
	position:absolute !important;
	width:100px !important;
	border:1px solid #333 !important;
	list-style:none !important;
	margin:0 !important;
	padding:5px !important;
	background:#fff !important;
	line-height:2em !important;
	z-index:200 !important;
}
.jade_toolbar_wrapper ul.toolkit_dropdown li{
	display:block;
}
.jade_toolbar_wrapper ul.toolkit_dropdown:hover{
	display:block;
}
.jade_toolbar_wrapper ul a{
	color:#333 !important;
	text-decoration:none;
}
.jade_toolbar_wrapper ul a:hover{
	color:red !important;
}
.jade_toolbar_wrapper a span{
	ext-decoration:underline;
}
.jade_delete_tool{

}

/*scope toggle*/
/*
div.CONTAINER_WRAPPER > span.local > div.jade_toolbar_wrapper > table{
	ackground: #d52020 url(/_assets/images/admin/red_bg.png) repeat-x bottom left !important;
}
*/
div.CONTAINER_WRAPPER > span.global > div.jade_toolbar_wrapper > table{
	background-attachment:fixed;
	background:orange url(/_assets/images/admin/gradients.jpg) repeat-x 0px -310px;
	border:1px solid #cc6600 !important;
}
	

/* --- Tool Item toolbar --- */	
.jade_admin_item_edit{
	text-align:right;
	height:20px;
	padding:3px;
	background-attachment:fixed;
	background:lightblue url(/_assets/images/admin/gradients.jpg) repeat-x 0px -70px;
}
.jade_admin_item_edit span.item_name{
	color:#fff;
	float:left;
}
.jade_admin_item_edit a{
	color:#fff;
}
.jade_admin_item_edit a:hover{
	color:#000;
}


/* --------------- CONTAINER_WRAPPER on sort start --------------- */	
.highlight_containers{
	padding:10px !important;
	border:1px solid #ccc !important;
	background:#eee !important;
	min-height:300px !important;
}
.CONTAINER_placeholder{
	background:#ffffcc;
	display:block;
	height:50px;
	border:1px solid orange;
}
.sort_active{
	width:200px !important;
	overflow:hidden !important;
}
.sort_active ul{
	display:none !important;
}

/* --------------- FORMS AND INPUT FIELDS --------------- */
.fieldsets{
	padding-bottom:10px;
	margin-bottom:10px;
	overflow:hidden;
}
.fieldsets b{
	font-size:1.2em;
	color:blue;
	font-family: 'Lucida Console', Monaco, monospace;
}
.fieldsets input, .fieldsets select{
	padding:5px;
	font-weight:normal;
}
.full_width{
	width:98%;
}

.big input{
	font-size:1.4em;
	padding:10px;
}
.big b{
	font-size:1.4em;
}

.huge input, .huge b{
	font-size:2em;
	padding:10px;
}

.full_width{
	width:98%;
}

/* --- textarea defaults --- */
.facebox form div.wysiwyg iframe{
}
.facebox form div.wysiwyg,
textarea{
	width:98% !important;
}

textarea.render_html,
textarea.render_css{
	width:99% !important;
	height:300px;
}
textarea.render_css{
	font-family: courier new;
	font-size:1.2em;
}

/* form validation messages */
.input_error{
	background:pink !important;
	border:1px solid red !important;
}
span.msg{
	color:red;
}
.error_msg{
	color:red;
}

/* --- FORM BUTTONS --- */

.buttons{
	margin-bottom:10px;
	overflow:auto;
}
button{
	cursor:hand;
	cursor:pointer;
}
.buttons a, .buttons button{
    display:block;
	background-attachment:fixed;
	background:lightblue url(/_assets/images/admin/gradients.jpg) repeat-x 0px -110px;
	border:1px solid #336699;
    color:#fff;	
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:1.4em;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */
button:hover, .buttons a:hover{
	border:1px solid #336699;
    color:#fff;
	background:#ccc;
}
.buttons a:active{
    background-color:#6299c5;
    color:#fff;
}

/* POSITIVE */
button.jade_positive, .buttons a.jade_positive{
    color:#fff;
	background:lightgreen url(/_assets/images/admin/gradients.jpg) repeat-x 0px -205px;
	
	border:1px solid #7ebd40;
}
.buttons a.jade_positive:hover,
button.jade_positive:hover,
.buttons a.jade_positive:active{
	background:orange url(/_assets/images/admin/gradients.jpg) repeat-x 0px -250px;
	border:1px solid orange; 
}

/* NEGATIVE */
.buttons a.jade_negative, button.jade_negative{
	background:#333 url(/_assets/images/admin/gradients.jpg) repeat-x 0px -15px;
	border:1px solid #000;
    color:#fff;		
}
.buttons a.jade_negative:hover, button.jade_negative:hover{
	background-attachment:fixed;
	background:#d52020 url(/_assets/images/admin/gradients.jpg) repeat-x 0px -465px;
	border:1px solid #cc0000;
    color:#fff;
}
.buttons a.jade_negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}



/* --- jwysiwg_texteditor  --- */
	
div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; }
div.wysiwyg * { margin: 0; padding: 0; }

div.wysiwyg ul.panel { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 0 0 4px 0; }
div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 0 2px;  background: #ffffff;}
div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a { opacity: 0.6; display: block; width: 16px; height: 16px; background: url('/_assets/images/admin/jwysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active { opacity: 0.99; }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }

div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }

div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }

div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }

div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }

div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }

div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }

div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }

div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }

div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }

div.wysiwyg ul.panel li a.html { background-position: -48px -48px; }
div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -64px; }

div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }

div.wysiwyg iframe {border:0; margin: 5px 0 0 0; clear: left;}



/* --------------- generic tabs and lists --------------- */

	/* --- ui tabs --- */	
.ui-tabs-hide { 
	display: none; 
}
.ui-tabs-nav{
	list-style:none;
	margin:0;
	padding:0;	
}

.generic_tabs{
	padding:6px 0 !important;
	margin:0;
}
.generic_tabs div.field_title{
	float:right;
	font-size:1.2em;
	font-weight:bold;
	color:blue;
	font-family: 'Lucida Console', Monaco, monospace;
	text-transform : capitalize;
	padding-right:10px;
}
.generic_tabs li{
	display:inline;
	margin-right:2px;
}
.generic_tabs li a{
	text-decoration:none;
	padding:7px 15px;
	background:lightblue url(/_assets/images/admin/gradients.jpg) repeat-x 0px -110px;
	border-bottom:0;
	color:#fff !important;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-weight:bold;
}
.generic_tabs li a:hover,
.generic_tabs li.ui-tabs-selected a{
	color:#fff !important;
	background:purple url('/_assets/images/admin/gradients.jpg') repeat-x 0px -415px !important; /*purple*/
}

	
	/* sortable link menu lists  */
	
.facebox #generic_sortable_list{
	clear:both;
}
.facebox #generic_sortable_list li.root_entry{
	margin:0;
	padding:0;
	margin-bottom:5px;
	clear:both;
}

.facebox #generic_sortable_list ul.row_wrapper{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	background:#e3eff3;
	overflow:auto;
}
.facebox #generic_sortable_list ul.row_wrapper li{
	padding:8px;
}

.facebox #generic_sortable_list ul .drag_box{
	width:60px;
	float:left;
	cursor:pointer;
	cursor:cursor;
	background:lightblue;
}
.facebox #generic_sortable_list ul .drag_box:hover{
	background:#66cc66;
}
.facebox #generic_sortable_list ul .position{
	width:20px;
	float:left;
	text-align:center;
}
.facebox #generic_sortable_list ul .data{
	float:left;
}
.facebox #generic_sortable_list ul .delete_item{
	width:75px;
	float:right;
	text-align:center;
}
.facebox #generic_sortable_list ul .delete_item:hover{
	background:orange;
}

.facebox #generic_sortable_list .not_enabled ul{
	background:#eee;
	border:1px solid #ccc;	
}
.facebox #generic_sortable_list .no_menu ul{
	background:#eee;
}
.facebox #generic_sortable_list .no_access ul{
	background:#ffcccc;
}

.facebox #generic_sortable_list li.root_entry a,
.generic_sortable_list li a.root_entry{
	color:#333;
	padding:5px;
	text-decoration:none;
}
.facebox #generic_sortable_list li a:hover,
.facebox #generic_sortable_list li a.selected,
.facebox #generic_sortable_list li.ui-tabs-selected a{
	background:#ffffcc;
}
.facebox #generic_sortable_list li a small{
	color:#999
}


/* --------------- common tool elements --------------- */

/* this sets the width for most facebox containers using this header */
#common_tool_header{
	overflow:hidden;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #999;
}
#common_tool_header button{
	float:right;
}
#common_title{
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	padding-top:9px;
	font-weight:bold;
	line-height:130%;
	font-size:1.5em;
	color:#000;
}
#common_tool_info{
	margin-bottom:10px;
	text-align:center;
}
.facebox .common_sub_header{
	font-size:1.2em;
	padding:5px;
	background:#555;
	color:#fff;
	margin-bottom:15px;
}
.facebox #common_module_menu_bar{
	padding:5px;
	background:#ccc;
	margin-bottom:10px;
}
.common_left_panel{
	width:180px;
	float:left;
	padding:5px;
}
.common_main_panel{
	width:590px;
	min-height:350px;
	float:right;
	padding:5px;
	overflow:auto;	
}



/* auth form views */

/* auth create */
#auth_form{
	width:400px;
	margin:10px auto;
	padding:10px;
}
#auth_form div.fieldsets{
	background:#fff;
	padding:10px;
	margin-bottom:10px;
}
#tagline{
	padding:10px;
	background:#fff;
	text-align:center;
	font-size:2em;
}
#tagline .text_logo{
	
}
#tagline .text_logo b{
	color:red;
}
#auth_form input{
	font-size:1.8em;
	background:skyblue url('/_assets/images/admin/gradients.jpg') repeat-x 0px -500px;
	border:1px solid #dedede;
	width:99%;
}
#auth_form button{
	width:100%;
}
#auth_form .buttons{
	margin:0 auto;
	width:300px;
}


/* login prompt */

#auth_form div.error{
	text-align:center;
	background:#fff;
	color:red;
	font-size:1.2em;
}

.login_help_toggle{
	text-align:center;
	padding:15px;
}
	/*  --- dashboard.php --- */ 
.indent{
	line-height:2em;
}
#jade_welcome {

}	
#jade_welcome span{
	float:right;
}
#jade_welcome b{
	font-size:1.4em;
	color:blue;
}

#edit_website_link{
	clear:both;
	margin:20px auto;
	width:220px;
}
#edit_website_link a{
	font-size:2em;
}

	/* --- ui tabs --- */	
.ui-tabs-hide { 
	display: none; 
}
.ui-tabs-nav{
	list-style:none;
	margin:0;
	padding:0;	
}


	/* Vertical Tab Navigation  for auth*/
#vertical_tabs{
	margin:0;
	padding:0;
	width:15%;
	float:left;
	overflow:hidden;
	min-height:400px;
}
#vertical_tabs li{
	margin-bottom:10px;
}
#vertical_tabs li a{
	display:block;
	padding:8px 10px;
	color:#333;
}
#vertical_tabs li a:hover, #vertical_tabs .ui-tabs-selected a{
	color:red;
}
#vertical_content{
	width:80%;
	float:right;
	line-height:2em;
}
.main_header{
	color:#7ebd40;
	font-size:1.2em;
	font-weight:bold;
}
#auth_content_wrapper{
	width:80%;
	float:left;
	margin-left:10px;	
}

/* ----------------------- admin views ----------------------- */
/* ----------------------- ----------------------- ----------------------- */



/* @page_settings */
.enabled_yes{
	border:2px solid green;
	background:#d9f2d3 !important;
}
.enabled_no{
	border:2px solid red;
	background:#ffe2e3 !important;
}


/* page/manage @all_pages view */


#directory_window{
	background:#e2effc; /*lightblue*/
}
#directory_window div.sub_folders{
	display:none;
}
#directory_window div.asset{
	height:100px;
	width:110px;
	float:left;
	margin:3px;
	padding:2px;
	overflow:hidden;
	font-size:0.9em;
	text-align:center;
}
#directory_window a{
}
#page_browser_wrapper .breadcrumb_wrapper,
#files_browser_wrapper .breadcrumb_wrapper{
	padding:5px;
	float:right;
	background:lightblue url('/_assets/images/admin/gradients.jpg') repeat-x 0px -110px;
	color:#fff;
}
#page_browser_wrapper .breadcrumb_wrapper a,
#files_browser_wrapper .breadcrumb_wrapper a{
	color:#fff;
	text-decoration:underline;
}
#page_browser_wrapper .breadcrumb_wrapper a:hover,
#files_browser_wrapper .breadcrumb_wrapper a:hover{
	color:black;
}

#page_browser_wrapper a{
	text-decoration:none;
}
#page_browser_wrapper img{
	display:block;
	margin:0 auto;
}
#page_browser_wrapper img,
#page_browser_wrapper span.icon.page,
#files_browser_wrapper span.icon.delete,
#files_browser_wrapper .asset img{
	cursor:cursor;
	cursor:pointer;
}
#page_browser_wrapper .enabled,
#files_browser_wrapper div.asset{
	background:#fff;
	border:1px solid #99ccff;
}
#page_browser_wrapper .hidden{
	background:#f2f1f1;
	border:1px solid #ccc;
}
#page_browser_wrapper .disabled{
	background:#fbe2e2;
	border:1px solid pink;
}
#page_browser_wrapper ul.option_list{
	width:110px;
	display:none;
	position:absolute;
	list-style:none;
	line-height:1.7em;
	margin:0;
	padding:5px;
	text-align:left !important;
	background:#ffffcc;
	font-size:0.9em;
	border:1px solid orange;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	
}
#page_browser_wrapper ul.option_list li{
}

#files_browser_wrapper div.editor_info{
	padding:6px;
	background:#ffffcc;
}

#files_browser_wrapper div.asset.selected{
	border:1px solid orange !important;
	background:#ffffcc !important;
}
.close_file_browser{
	display:block;
	padding:5px 10px;
	background:orange;
	text-align:center;
}
.close_file_browser:hover{
	background:red;
	color:#fff;
}
img.ui-selected{
	background:orange !important;
}	


img.new_page_drop{
	cursor:move !important;
	padding:3px !important;
	border:1px dashed #333 !important;
}
.ui-state-highlight{
	background:lightgreen !important;
}

.common_main_panel .save_pane{
	position:absolute;
	width:350px;
	height:250px;
	padding:10px;
	background:#fff;
	border:2px solid orange;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.common_main_panel .save_pane div{
	padding:10px;
	border:1px dashed #ccc
}

/* add new_page */

#new_page_wrapper .pane_left{
	width:51%;
	float:left;	
}
.sub_options, .root_options{
	background:#eee;
	padding:10px;
}
#new_page_wrapper .pane_right{
	width:42%;
	float:right
}

#new_page_url{
	text-align:center;
	line-height:1.8em;
	margin-bottom:10px;
}
#new_page_url b{
	color:#333;
	font-size:1.4em;
}
#link_example{
	color:green;
}	
	
	
	
	
	
	
	
	
	
/* tool/add @new_tool view */
#tool_list_wrapper ul{
	line-height:1.5em;
}
#tool_view_wrapper{
	background:#eee;	
	border:1px solid #ccc;
}
#tool_view_wrapper div.each_tool{
	display:none;
	margin:5px;	
}
#tool_view_wrapper div.each_tool button{
	width:200px;
	height:30px;
	border:0;
}
#tool_view_wrapper div.each_tool div.desc{
	margin-top:10px;
	padding:10px;
	background:#fff;
}


/* tool/manage view*/

#all_tools_wrapper{
	background:#e2effc;
	overflow:auto;
	height:400px;
}
#all_tools_table{
	width:95%;
	margin:0 auto;
	border-collapse:collapse;
}
#all_tools_wrapper .row_guid{
	width:70px;
}
#all_tools_wrapper .row_change{
	text-align:center;
	width:60px;
}
#all_tools_wrapper .row_delete{
	text-align:right;
	width:50px;
}

#all_tools_table td{
	padding:5px;
	border:2px solid #e2effc;
}
#all_tools_wrapper th{
	font-weight:bold;
	padding:5px 0;
}
#all_tools_wrapper .row_wrapper{
	padding:10px 5px;
	margin-bottom:5px;
}
#all_tools_wrapper .safe td{
	background:#fff;
}
#all_tools_wrapper .notice {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}
#all_tools_wrapper .orphan td{
	background:#FBE3E4;
	color:#8a1f11;
}
#all_tools_wrapper .global td{
	background:#ffffcc;
	order:1px solid #FBC2C4;
	color:#8a1f11;
}

/* organize later -- */ 

/* droppables and sortable images css */
#sortable_images_wrapper{
	overflow:auto;
	border:1px solid #ccc;
	background:#eee;
}
#sortable_images_wrapper div{
	float:left;
	margin:3px;
	background:#fff;
}
#sortable_images_wrapper span{
	display:block;
	padding:2px;
	background:#ffffcc;
	text-align:center;
	cursor:move;
	font-size:0.9em;
}
#sortable_images_wrapper img{
	padding:5px;
	background:#fff;
}

#sortable_images_wrapper img.ui-selecting {
	background:#FECA40;
}
#sortable_images_wrapper img.ui-selected{
	background:orange;
}	
.ui-selectable-helper{
	z-index:9999 !important;
	border:2px dashed green !important;
}
#select-result{
	padding:5px;
	text-align:center;
	background:#dfefff;
}
#select-result img{
	padding:3px;
	background:#fff;
}


/* files css */ 

/* -- swf uploader styles ------------------------------- */
#swf_wrapper{
}

#swf_wrapper div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
#swf_wrapper span.legend {
	font-weight:bold;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}


#swf_wrapper div.flash {
	width: 450px;
	height:200px;
	overflow:auto;
	margin: 10px 5px;
	border-color: #D9E4FF;
	-moz-border-radius-topleft : 5px;
	-webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}

#swf_wrapper button,
#swf_wrapper input,
#swf_wrapper select,
#swf_wrapper textarea { 
	border-width: 1px; 
	margin-bottom: 10px;
	padding: 2px 3px;
}



#swf_wrapper input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */


#swf_wrapper label { 
	width: 150px; 
	text-align: right; 
	display:block;
	margin-right: 5px;
}

#swf_wrapper #btnSubmit { margin: 0 0 0 155px ; }

/* -- Table Styles ------------------------------- */
#swf_wrapper td {
	font: 10pt Helvetica, Arial, sans-serif;
	vertical-align: top;
}

#swf_wrapper .progressWrapper {
	width: 440px;
	overflow: hidden;
}

#swf_wrapper .progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
#swf_wrapper .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
#swf_wrapper .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
#swf_wrapper .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
#swf_wrapper .blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

#swf_wrapper .progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

#swf_wrapper .progressBarInProgress,
#swf_wrapper .progressBarComplete,
#swf_wrapper .progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

#swf_wrapper .progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

#swf_wrapper .progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

#swf_wrapper .progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}
#swf_wrapper a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}
#swf_wrapper a.progressCancel:hover {
	background-position: 0px 0px;
}
/* -- SWFUpload Object Styles ------------------------------- */
#swf_wrapper .swfupload {
	vertical-align: top;
}

/* simpleTree css */
/* --------------------- --------------------------*/
.simpleTree{
	margin:0;
	padding:0;
	/*
	overflow:auto;
	width: 250px;
	height:350px;
	overflow:auto;
	border: 1px solid #444444;
	*/
}
.simpleTree li{
	list-style: none;
	margin:0;
	padding:0 0 0 34px;
	line-height: 2em;
}
.simpleTree li span{
	display:inline;
	clear: left;
	white-space: nowrap;
}
.simpleTree li span:hover{
	cursor:move;
}
.simpleTree ul{
	margin:0; 
	padding:0;
}
.simpleTree .root{
	margin-left:-16px;
	background: url(/_assets/images/navigation/root.gif) no-repeat 16px 0 #ffffff;
}
.simpleTree .line,
.simpleTree .line-last,
.simpleTree .line-over,
.simpleTree .line-over-last{
	margin:0 0 0 -16px;
	line-height: 3px;
	font-size:3px;
	height:3px;
}
.simpleTree .line-expand{
	height:10px;
	padding:3px 0;
	margin:2px;
	border:1px solid green;
	background:lightgreen;
}

.simpleTree .line{
	background: #ffffcc url(/_assets/images/navigation/line_bg.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-last{
}
.simpleTree .line-over{
	background:orange !important;
	border:1px solid orange !important;
}
.simpleTree .line-over-last{
	background:orange !important;
	border:1px solid orange !important;
}
.simpleTree .folder-open{
	margin-left:-16px;
	background: url(/_assets/images/navigation/collapsable.gif) 0 -2px no-repeat #fff;
}
.simpleTree .folder-open-last{
	margin-left:-16px;
	background: url(/_assets/images/navigation/collapsable-last.gif) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close
{
	margin-left:-16px;
	background: url(/_assets/images/navigation/expandable.gif) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close-last{
	margin-left:-16px;
	background: url(/_assets/images/navigation/expandable-last.gif) 0 -2px no-repeat #fff;
}
.simpleTree .doc{
	margin-left:-16px;
	background: url(/_assets/images/navigation/leaf.gif) 0 -1px no-repeat #fff;
}
.simpleTree .doc-last{
	margin-left:-16px;
	background: url(/_assets/images/navigation/leaf-last.gif) 0 -1px no-repeat #fff;
}
.simpleTree .ajax{
	background: url(/_assets/images/navigation/spinner.gif) no-repeat 0 0 #ffffff;
	height: 16px;
	display:none;
}
.simpleTree .ajax li{
	display:none;
	margin:0; 
	padding:0;
}
.simpleTree .trigger{
	display:inline;
	margin-left:-32px;
	width: 28px;
	height: 11px;
	cursor:pointer;
}
.simpleTree .text{
	cursor: default;
}
.simpleTree .active,
.simpleTree li span.text:hover{
	cursor: move;
	background-color:#F7BE77;
	padding:0px 2px;
	border: 1px dashed #444;
}
#drag_container{
	z-index:9999;
	background:#ffffff;
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	border: 1px dashed #767676;
}
#drag_container ul{
	list-style: none;
	padding:0;
	margin:0;
}
#drag_container li{
	list-style: none;
	background-color:#ffffff;
	line-height:18px;
	white-space: nowrap;
	padding:1px 1px 0px 16px;
	margin:0;
}
#drag_container li span{
	padding:0;
}
#drag_container li.doc, #drag_container li.doc-last{
	background: url(/_assets/images/navigation/leaf.gif) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-close, #drag_container .folder-close-last{
	background: url(/_assets/images/navigation/expandable.gif) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-open, #drag_container .folder-open-last{
	background: url(/_assets/images/navigation/collapsable.gif) no-repeat -17px 0 #ffffff;
}
.contextMenu{
	display:none;
}


/* unsorted */
.popup_dialog{
	display:none;
	position:absolute;
	background:#ffffcc;
	border:1px solid blue;
	padding:10px;
}
/* end */



