
/*   --- css_static_helpers  --- */
	
.aligncenter{text-align:center !important;}
.alignright{text-align:right !important;}
.clearboth{clear:both !important;}
.clearleft{clear:left !important;}
.clearright{clear:right !important;}
.floatleft{float:left !important;}
.floatright{float:right !important;}
a img{border:0}

.input_focus{
	background:#ffffcc;
	border:2px solid orange;
}