html {
	font-size: 80%;
	
}
html, body {
	margin:0;
	padding:0;
	font-family:verdana, arial;

}

	/* ------------ reset base styles  ------------*/
	
a {border:0;}
img {border:0;}
h1,h2,h3,h4,h5,h6{font-size:1em; padding:0; margin:0; margin-bottom:10px;}
h1{font-size:1.6em; color:#0c7ced;}
h2{font-size:1.4em; color:#7c78d3;}
h3{font-size:1.2em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
/* ul , ol, dl{line-height:1.4em;}  */
dt{font-weight:bold;}

	/* ------------ header_wrapper  ------------*/
	
#header_wrapper{
	background:url('%PATH%/header_bg.png') repeat left 1px;
	padding:0 15px;
	text-align:center;
}
#header{
	margin:0 auto;
	width:850px;
	overflow:hidden;
}

#headline_wrapper{
	text-align:center; 
	padding:5px; 
	width:400px;
	margin:0 auto;
	margin-top:20px;
}
#headline{
	font-size:1.8em; 
	color:#0c7ced; 
	padding:5px;
}

#header_banner{
	float:left;
}
#header_address{
	float:right;
	width:220px;
	text-align:right;
}
#header_address b{
	font-size:1.2em;
	color:#444;
}
#header_address p{
	font-style:italic;
	color:#444;
	font-size:0.9em;
}
#header_address a{
	display:block;
	float:right;
	padding:8px 15px;
	background:#fff;
	margin-left:10px;
	color:red;
}
#header_address a:hover{
	background:#333;
	color:#fff;
	text-decoration:none;
}
	/* ------------ body_wrapper  ------------*/
	
#body_wrapper{
  width:850px;
  margin:0 auto;
  padding:0;
}	

	/* -----------  MAIN_MENU ------------ */

#MAIN_MENU{
	clear:both;
	margin-top:40px;
	min-width:850px;
}
#MAIN_MENU ul {
	text-align:center;
	width:850px;
	list-style:none;
	margin:0 auto;
	padding:8px 0; 
	overflow:hidden;
}
#MAIN_MENU ul li {
	display:inline;
	margin-left:10px;
}
#MAIN_MENU li a {
	padding:8px 13px; 
	background: #7ebd40 url('%PATH%/green_bg.png') repeat-x bottom left;
	color:#fff;
	font-size:1.2em;
	text-decoration:none;
	font-family:verdana;
}
#MAIN_MENU li a:hover {
	background:#fff;
	text-decoration:underline;
	color:#000;	
}
#MAIN_MENU li a.selected {
	background:#d52020 !important;
	color:#fff;
	text-decoration: underline;
}

	/*  ---------------- content_wrapper ---------------- */
	
#content_wrapper{
	background:#fff;
	min-height:420px;
	padding:20px;
	min-height:300px;
}

/* --- footer wrapper --- */

#footer_wrapper{
	min-height:200px;
}

